<footer>
    <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook fa-lg" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i></a>    
    </div>
    <h6 class="text"><i class="fa-light fa-copyright fa-sm" style="color: #ffffff;"></i> &nbsp;HavenllY pvt. ltd.</h6>
    <p class="t-p">
        <a href="/terms">Terms</a> 
        <a href="/privacy">Privacy</a>
    </p>
</footer>