<footer>
    <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook fa-lg" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i></a>    
    </div>
    <h6 class="text">HavenllY pvt. ltd.</h6>
    <p class="t-p"><a href="#">Terms</a> <a href="#">Privacy</a></p>
</footer>