<% layout("/layouts/boilerplate.ejs") %>

<div class="privacy">
    <h3 style="text-align: center; margin-top: 20px;">Welcome to HavenllY!</h3>
    <br>
    <p style= "opacity: 0.8;">Legal terms</p>
    <h4 style="text-decoration: underline;">HavenllY Privacy</h4>
    <ul>
        <li>This Privacy Policy describes how HavenllY collects, uses, and shares personal information when you use our website <a href="https://havenlly.onrender.com/">HavenllY</a>.</li>
    </ul>
    <br><br>

    <h5>Information We Collect</h5>
    <ul>
        <li><b>Personal Information: </b>When you sign up for an account, we collect information such as your name, email address, and other details necessary for providing our services.</li>
        <li><b>Usage Information:</b> We may collect information about how you interact with our website, including pages visited, time spent on the site, and other usage statistics.</li>
        <li><b>Device Information:</b> We may collect information about the device you're using, including the type of device, operating system, and browser.</li>
    </ul>
    <br>
    <h5>How We Use Information</h5>
    <p>We use the information we collect for various purposes, including:</p>
    <ul>
        <li>Providing and maintaining our services.</li>
        <li>Improving and optimizing our website.</li>
        <li>Personalizing your experience.</li>
        <li>Sending you important information, such as account updates and notifications.</li>
    </ul>
    <br>
    <h5>Information Sharing</h5>
    <p>We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share information with trusted third parties who assist us in operating our website or servicing you, as long as those parties agree to keep this information confidential.</p>
    <br>
    <h5>Security</h5>
    <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.</p>
    <br>
    <h5>Cookies</h5>
    <p>We use cookies to enhance your experience on our site. You can choose to disable cookies through your browser settings.</p>
    <br>
    <h5>Changes to This Privacy Policy:</h5>
    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page.</p>
    <br>
    <p>This privacy policy was last updated on 09 Nov 2023.</p>

    
</div>


