<% layout("/layouts/boilerplate.ejs") %>

<div class="terms">
    <h3 style="text-align: center; margin-top: 20px;">Welcome to HavenllY!</h3>
    <br>
    <p style= "opacity: 0.8;">Legal terms</p>
    <h4 style="text-decoration: underline;">Terms of Service</h4>
    <br><br>

    <h5>User Agreement:</h5>
    <ul>
        <li>Clearly outline the terms users agree to by using your website.</li>
        <li>Specify that users must be of a certain age to use the platform.</li>
    </ul>
    <br>
    <h5>Intellectual Property:</h5>
    <ul>
        <li>Define the intellectual property rights for content on your site.</li>
        <li>State that users cannot use or reproduce content without permission.</li>
    </ul>
    <br>
    <h5>User Responsibilities:</h5>
    <ul>
        <li>Outline user responsibilities regarding accurate information and compliance with laws.</li>
        <li>Specify any prohibited activities on your platform.</li>
    </ul>
    <br>
    <h5>Privacy Policy:</h5>
    <ul>
        <li>Detail how user data is collected, used, and protected.</li>
        <li>Address the use of cookies and similar technologies.</li>
    </ul>
    <br>
    <h5>Payment and Fees:</h5>
    <ul>
        <li>Clearly state your payment and refund policies.</li>
        <li>Specify any fees associated with using your platform.</li>
    </ul>
    <br>
    <h5>Liability and Disclaimers:</h5>
    <ul>
        <li>Limit your liability in certain situations.</li>
        <li>Include disclaimers about the accuracy of information on your site.</li>
    </ul>
    <br>
    <h5>Termination of Accounts:</h5>
    <ul>
        <li>Outline conditions under which you can terminate a user's account.</li>
        <li>Specify the process for account suspension or termination.</li>
    </ul>
    <br>
    <h5>Cancellation Policies:</h5>
    <ul>
        <li>Clearly communicate your cancellation policies for users and hosts.</li>
    </ul>
    <br>
    <h5>User Reviews:</h5>
    <ul>
        <li>Address how user reviews are handled on your platform.</li>
        <li>Specify any moderation policies.</li>
    </ul>
    <br>
    <h5>Legal Jurisdiction:</h5>
    <ul>
        <li>State the legal jurisdiction that will govern any disputes.</li>
    </ul>

    
</div>
